.header-tag-line {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: larger;
    color: rgb(143, 140, 140);
}

.title-intro {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    font-weight: bolder;
}

.intro-info {
    font-family: 'Quicksand', sans-serif;
}

.cases-header {
    font-size: x-large;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: 600;
    color: rgb(87, 85, 85);
}

.total-cases {
    font-size: xx-large;
    text-align: center;
    font-weight: 800;
    font-family: 'Quicksand', sans-serif;
    color: rgb(78, 78, 78);
}

.total-deaths {
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: red;
}

.total-recovered {
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #32CD32;
}

.video-title {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}

.title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}



.prev-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.prev-card {
    margin: 8px 8px 8px 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 40px;
    width: 400px;
    height: auto;
}

.card-title {
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.card-info {
    padding: 5px 30px 0px 30px;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
}

.card-image {
    display: block;
    width: 18rem;
    height: 18rem;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding: 10px;
    border: 5px;
    margin-top: 8rem;
    margin-bottom: 0.5rem;
    height: auto;
    width: 100%;
    background: #21abab81;
    color: rgb(39, 39, 39);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    text-decoration: none;
    position: relative;
    bottom: 0;
    left: auto;
    right: auto;
    border-radius: 50px;
}

.footer-logo {
    height: 30px;
    width: 30px;
    box-shadow: 0 0 10px #fff;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 0.3rem;
}